* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(247, 223, 90);
}

.banner{
    background-color: rgb(250, 223, 70) ;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    height: 100px;
    margin-bottom: 5px;
}


.navbar_item{
    display: inline;
    padding: 14px 16px;
}

.navbar_link:hover{
    color: rgb(250, 223, 70) ;
    text-decoration: none;
    background-color: black;
}

.navbar_link:link {
    color: rgb(250, 223, 70) ;
    text-decoration: none;
}

.navbar_link:visited{
    color: rgb(250, 223, 70) ;
    text-decoration: none;
}
.navbar{
    background-color: black;
    color: rgb(250, 223, 70) ;
    margin-top: 25px;
    padding-top: 5px;
    height: 35px;

}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
    background-color: gold;
    
  }

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
    background-color: gold;

    
}

input[type="submit"]{
 width: 25%;
 padding: auto;
 border: solid black;
 outline-style: auto;
 outline-color: gold;
 margin-left: 37.5%;
 margin-right: auto;
 
}

form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

footer{
    color: rgb(250, 223, 70) ;
    text-align: end;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px; 
    background:black; 
    width:100%; 
    position:bottom;
    margin-top: 100px; 
    bottom:0; 
    left:0; 
    font-weight: bolder;
}

.footer_especial{
    color: rgb(250, 223, 70) ;
    text-align: end;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px; 
    background:black; 
    width:100%; 
    position:absolute;
    margin-top: 100px; 
    bottom:0; 
    left:0;
    font-weight: bolder;
}


img{
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.home_page{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo {
    margin-top: 1rem;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

br{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.tarifa_div{
             background-color: yellow;
             color: black;
             border-radius: 5%;
             display: inline-block;
             width: 30%;
             height: 300px;
             text-align: center;
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             font-weight: bold;
             margin-left: 35%;
             border: solid 2px black;

}

.tarifas{
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    margin-top: 10px;
}

li{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 4px black;
}

td{
    border: solid 4px black;
}

a:link{
    color:black;
    text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none;

}

a:visited{
    color:black;
    text-decoration: none;
}

.titulo_tarifa{
    background-color: black;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 8%;
}

.img_actividades{
   display: block;
   margin: auto;
   margin-top: 25px;
} 

